@charset "UTF-8";
.main {
  padding-top: 70px;
}

@media (max-width: 767px) {
  .main {
    padding-top: 60px;
  }
}

body {
  font-size: 16px;
  color: #333;
  font-family: "Lato", serif;
  line-height: 1.6875;
}

img {
  width: 100%;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (max-width: 767px) {
  .inner {
    padding: 0 15px;
  }
}

section {
  margin-top: 5rem;
}

@media (max-width: 1200px) {
  section {
    margin-top: 4rem;
  }
}

@media (max-width: 767px) {
  section {
    margin-top: 2rem;
  }
}

.section-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 5rem;
  position: relative;
  font-size: 2.8rem;
  line-height: 1;
  padding-top: 3rem;
}

@media (max-width: 1200px) {
  .section-title {
    margin-bottom: 1px;
  }
}

@media (max-width: 767px) {
  .section-title {
    font-size: 30px;
  }
}

.section-title::before {
  content: "<";
  position: absolute;
  left: 39%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60px;
  height: 4px;
}

@media (max-width: 1200px) {
  .section-title::before {
    left: 35%;
  }
}

@media (max-width: 767px) {
  .section-title::before {
    width: 42px;
    height: 3px;
  }
}

@media (max-width: 320px) {
  .section-title::before {
    left: 28%;
  }
}

.section-title::after {
  content: "/>";
  position: absolute;
  right: 32%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60px;
  height: 4px;
}

@media (max-width: 1200px) {
  .section-title::after {
    right: 28%;
  }
}

@media (max-width: 767px) {
  .section-title::after {
    right: 16%;
  }
}

@media (max-width: 320px) {
  .section-title::after {
    right: 0;
  }
}

@media (max-width: 767px) {
  .section-title {
    padding-bottom: 18px;
  }
}

.drawer-toggle {
  display: none;
}

@media (max-width: 767px) {
  .drawer-toggle {
    display: block;
  }
}

.drawer-overlay {
  display: none;
}

.header {
  height: 80px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(237, 237, 237, 0.5);
}

@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  margin-left: 3rem;
  width: 160px;
}

@media (max-width: 1200px) {
  .header-logo {
    width: 140px;
    margin-left: 1.5rem;
  }
}

@media (max-width: 767px) {
  .header-logo {
    width: 6.25rem;
  }
}

.header-logo img {
  display: block;
}

.header-menu {
  margin-left: auto;
  margin-right: 3rem;
}

.header-nav {
  margin-left: auto;
}

@media (max-width: 767px) {
  display: none;
}

.header-nav-item {
  list-style: none;
}

.header-nav-item:not(:first-child) {
  margin-left: 40px;
}

@media (max-width: 767px) {
  .header-nav-item:not(:first-child) {
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .header-nav-item {
    margin-top: 9px;
  }
}

@media (max-width: 767px) {
  .header-nav-item {
    margin-top: 50px;
    text-align: center;
  }
}

.header-nav-item-link {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  position: relative;
}

@media (max-width: 1200px) {
  .header-nav-item-link {
    font-size: 1.2rem;
  }
}

@media (max-width: 767px) {
  .header-nav-item-link {
    font-size: 1.5rem;
  }
}

.header-nav-item-link:hover {
  -webkit-transform: translate() all 3s;
          transform: translate() all 3s;
  color: #b3d0d7;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .header-nav-list {
    display: block;
  }
}

.top {
  height: 600px;
  width: 100%;
  background: url(../img/business-2717066_1280.jpg) no-repeat center center/cover;
  position: relative;
  margin-top: 80px;
}

@media (max-width: 767px) {
  .top {
    margin-top: 60px;
    height: 420px;
  }
}

@media (max-width: 767px) {
  .top {
    height: 550px;
  }
}

.top-message {
  position: absolute;
  top: 50%;
  left: 32%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

@media (max-width: 1200px) {
  .top-message {
    padding: 0 66px;
  }
}

@media (max-width: 767px) {
  .top-message {
    padding: 0 46px;
    left: 50%;
  }
}

@media (max-width: 320px) {
  .top-message {
    padding: 0 4px;
  }
}

.top-title {
  font-size: 6rem;
  font-weight: 500;
  line-height: 1.3;
  opacity: 0;
}

.top-title.is-ready {
  text-shadow: 5px 5px #ededed;
}

@media (max-width: 1200px) {
  .top-title {
    font-size: 4.5rem;
  }
}

@media (max-width: 767px) {
  .top-title {
    font-size: 3.5rem;
  }
}

.top-title span {
  opacity: 0;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.top-button {
  margin-top: 3.5rem;
}

@media (max-width: 767px) {
  .top-button {
    margin-top: 5rem;
  }
}

.top-button-link {
  display: none;
  background: #b3d0d7;
  color: #333;
  padding: 20px 30px;
  font-size: 1.8rem;
  font-weight: bold;
  border: 1px solid #dddddd;
  -webkit-box-shadow: 5px 6px 5px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 6px 5px rgba(96, 96, 96, 0.16);
  text-shadow: 5px 5px #ededed;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.top-button-link:hover {
  background: #4c2f28;
  color: #ededed;
  text-shadow: 5px 5px #333;
}

@media (max-width: 320px) {
  .top-button-link {
    padding: 10px 15px;
    font-size: 1.5rem;
  }
}

.about-contents {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 1200px) {
  .about-contents {
    display: block;
  }
}

.about-left {
  width: 100%;
  margin-right: 4rem;
}

@media (max-width: 1200px) {
  .about-left {
    width: 80%;
    margin: 60px auto 30px auto;
  }
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .about-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .about-list {
    font-size: 1.1rem;
  }
}

@media (max-width: 320px) {
  .about-list {
    font-size: 0.9rem;
  }
}

.about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.5rem;
}

@media (max-width: 767px) {
  .about-item {
    margin-right: 1rem;
  }
}

@media (max-width: 767px) {
  .about-item:first-child {
    margin-left: 1rem;
  }
}

.about-link a {
  color: #333;
}

.about-link:hover {
  color: #b3d0d7;
}

.about-message {
  font-family: "ヒラギノ明朝 ProN";
}

.about-message p {
  font-size: 1.2rem;
  margin-top: 30px;
}

@media (max-width: 1200px) {
  .about-message p {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .about-message p {
    margin: 30px auto 0 auto;
    width: 80%;
    font-size: 0.9rem;
  }
}

.sites {
  padding: 4rem 0 7rem;
  background-color: #ededed;
}

.sites-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .sites-contents {
    display: block;
  }
}

.sites-item {
  width: calc(33.3% - 24px * 2 / 3);
  border: 1px solid #b3d0d7;
  -webkit-box-shadow: 0 3px 3px rgba(179, 208, 215, 0.16);
          box-shadow: 0 3px 3px rgba(179, 208, 215, 0.16);
  background: #fff;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .sites-item {
    width: 100%;
    margin-top: 50px;
  }
}

.sites-item:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.sites-item:hover .sites-item-img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sites-item:not(:nth-child(3n + 1)) {
  margin-left: 24px;
}

@media (max-width: 1200px) {
  .sites-item:not(:nth-child(3n + 1)) {
    margin-left: 0;
  }
}

.sites-item-body {
  font-family: "ヒラギノ明朝 ProN";
  padding: 1.5rem;
}

.sites-item-body .sites-item-title {
  font-size: 1.3rem;
  font-weight: 600;
}

.sites-item-body .sites-item-txt {
  margin-top: 2rem;
  font-size: 1.2rem;
  bottom: 1.2rem;
}

@media (max-width: 320px) {
  .sites-item-body .sites-item-txt {
    font-size: 0.9rem;
  }
}

.sites-item-img {
  width: 100%;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  overflow: hidden;
}

.sites-item-link {
  color: #333;
}

.sites-footer {
  text-align: center;
  margin-top: 5rem;
}

.sites-footer-link {
  background: #b3d0d7;
  color: #333;
  padding: 1.5rem 4rem;
  font-size: 1.4rem;
  font-weight: bold;
  border: 1px solid #dddddd;
}

.skills-contents {
  padding: 3rem 0 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills-item {
  width: calc(33.3% - 50px * 2 / 3);
  border: 3px solid #b3d0d7;
  text-align: center;
  padding: 1rem;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
}

@media (max-width: 1200px) {
  .skills-item {
    width: calc(50% - 50px * 1 / 2);
  }
}

@media (max-width: 767px) {
  .skills-item {
    width: 100%;
    margin-bottom: 40px;
  }
}

.skills-item:not(:nth-child(3n + 1)) {
  margin-left: 50px;
}

@media (max-width: 1200px) {
  .skills-item:not(:nth-child(3n + 1)) {
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .skills-item:not(:nth-child(2n + 1)) {
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  .skills-item:not(:nth-child(2n + 1)) {
    margin-left: 0;
  }
}

.skills-item:not(:nth-child(-n + 3)) {
  margin-top: 6rem;
}

@media (max-width: 1200px) {
  .skills-item:not(:nth-child(-n + 3)) {
    margin-top: 0;
  }
}

@media (max-width: 1200px) {
  .skills-item:not(:nth-child(-n + 2)) {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .skills-item:not(:nth-child(-n + 2)) {
    margin-top: 0;
  }
}

.skills-item-text {
  text-align: left;
  margin-top: 1.5rem;
  font-family: "ヒラギノ明朝 ProN";
}

.skills-item-title {
  margin: 2rem 0;
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .skills-item-title {
    margin: 0 0 1.5rem;
  }
}

.skills-img {
  margin: 0 auto;
  width: 50%;
}

@media (max-width: 767px) {
  .skills-img {
    width: 40%;
  }
}

.contact {
  background: url("../img/computer-2242266_1280.jpg") center center/cover;
  padding: 3rem;
}

.contact-inner {
  padding: 0 6rem;
}

@media (max-width: 767px) {
  .contact-inner {
    padding: 0;
  }
}

.contact-form {
  width: 45%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .contact-form {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .contact-form {
    width: 100%;
  }
}

.contact-title {
  color: #ededed;
}

@media (max-width: 1200px) {
  .contact-title::before {
    left: 26%;
  }
}

@media (max-width: 320px) {
  .contact-title::before {
    left: 14%;
  }
}

@media (max-width: 1200px) {
  .contact-title::after {
    right: 15%;
  }
}

@media (max-width: 767px) {
  .contact-title::after {
    right: 0;
  }
}

@media (max-width: 320px) {
  .contact-title::after {
    right: -20%;
  }
}

.contact-item {
  text-align: center;
  margin-top: 2rem;
}

.contact-item-title {
  font-weight: bold;
  text-align: left;
  font-size: 1.3rem;
  margin-bottom: 10px;
  display: block;
  color: #333;
  text-shadow: 1px 1px #ededed;
}

input[type="text"],
input[type="email"],
textarea {
  background: rgba(255, 255, 255, 0.5);
  border: 1px #ededed solid;
  padding: 10px;
  font-size: 1rem;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  max-width: 480px;
}

textarea {
  width: 100%;
  max-width: 480px;
  height: 8rem;
}

.contact-submit {
  margin-top: 2.5rem;
  padding: 0.5rem 2rem;
  color: #333;
  font-size: 1.2rem;
}

.contact-submit.active {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: #b3d0d7;
  color: #333;
  border: 1px solid #dddddd;
}

.contact-submit.active:hover {
  background: #4c2f28;
  color: #ededed;
  text-shadow: 5px 5px #333;
}

.contact-message {
  text-align: center;
  margin-top: 60px;
  display: none;
  color: #ededed;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "ヒラギノ明朝 ProN";
  text-shadow: 1px 1px #333;
}

.contact-message.err {
  color: #f00;
}

footer {
  background-color: #ededed;
}

footer p {
  margin: 0;
  padding: 3rem;
  text-align: center;
}

@media (max-width: 767px) {
  footer p {
    padding: 1rem;
  }
}
