@charset "utf-8";

$breakpoints: (
    "vsm": "(max-width:320px)",
    "sm": "(max-width:767px)",
    "md": "(max-width: 1200px)",
    "lg": "(min-width: 1200)",
) !default;

@mixin mq($breakpoint: sm) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

// colors
$font-color: #333;
$primary-color: #ededed;
$accent-color: #b3d0d7;

// フォント
$font-hi: "ヒラギノ明朝 ProN";

// 全体に共通するスタイル
.main {
    padding-top: 70px;

    @include mq(sm) {
        padding-top: 60px;
    }
}

body {
    font-size: 16px;
    color: $font-color;
    font-family: "Lato", serif;
    line-height: (27 / 16);
}

img {
    width: 100%;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: content-box;

    @include mq(sm) {
        padding: 0 15px;
    }
}

section {
    margin-top: 5rem;

    @include mq(md) {
        margin-top: 4rem;
    }

    @include mq(sm) {
        margin-top: 2rem;
    }
}

.section-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 5rem;
    position: relative;
    font-size: 2.8rem;
    line-height: 1;
    padding-top: 3rem;

    @include mq(md) {
        margin-bottom: 1px;
    }

    @include mq(sm) {
        font-size: 30px;
    }

    &::before {
        content: "<";
        position: absolute;
        left: 39%;
        transform: translateX(-50%);
        width: 60px;
        height: 4px;

        @include mq(md) {
            left: 35%;
        }

        @include mq("sm") {
            width: 42px;
            height: 3px;
        }

        @include mq(vsm){
            left: 28%;
        }
    }

    &::after {
        content: "/>";
        position: absolute;
        right: 32%;
        transform: translateX(-50%);
        width: 60px;
        height: 4px;

        @include mq(md) {
            right: 28%;
        }

        @include mq("sm") {
            right: 16%;
        }

        @include mq(vsm){
            right:0;
        }
    }

    @include mq("sm") {
        padding-bottom: 18px;
    }
    
}

// ヘッダー
.drawer-toggle{
    display: none;
    @include mq(sm){
        display: block;
    }
}

.drawer-overlay{
    display: none;
}

.header {
    height: 80px;
    position: fixed;
    width: 100%;
    box-shadow: 0 3px 3px rgba(#000, 0.16);
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(237, 237, 237, 0.5);

    @include mq("sm") {
        height: 60px;
    }
}

.header-inner{
    display: flex;
    align-items: center;
}

.header-logo {
    margin-left: 3rem;
    width: 160px;

    @include mq(md) {
        width: 140px;
        margin-left: 1.5rem;
    }

    @include mq("sm") {
        width: 6.25rem;
    }

    img {
        display: block;
    }
}

.header-menu {
    margin-left: auto;
    margin-right: 3rem;
}

.header-nav {
    margin-left: auto;
}

@include mq("sm") {
    display: none;
}

.header-nav-item {
    list-style: none;
    &:not(:first-child) {
        margin-left: 40px;

        @include mq(sm){
            margin-left: 0;
        }
    }

    @include mq(md){
        margin-top: 9px;
    }

    @include mq(sm){
        margin-top: 50px;
        text-align: center;
    } 
}

.header-nav-item-link {
    font-size: 1.5rem;
    font-weight: 500;
    color: $font-color;
    text-decoration: none;
    position: relative;

    @include mq(md){
        font-size: 1.2rem;
    }

    @include mq(sm){
        font-size: 1.5rem;
    }
    

    &:hover {
        transform: translate() all 3s;
        color: $accent-color;
    }
}

.header-nav-list {
    display: flex;
    align-items: center;

    @include mq(sm){
        display: block;
    }
}

// トップ

.top {
    height: 600px;
    width: 100%;
    background: url(../img/business-2717066_1280.jpg) no-repeat center center / cover;
    position: relative;
    margin-top: 80px;

    @include mq(sm) {
        margin-top: 60px;
        height: 420px;
    }

    @include mq(sm){
        height: 550px;
    }
}

.top-message {
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;

    @include mq("md") {
        padding: 0 66px;
    }

    @include mq("sm") {
        padding: 0 46px;
        left: 50%;
    }

    @include mq(vsm){
        padding: 0 4px;
    }
}

.top-title {
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.3;
    opacity: 0;
    font-family: 'Tangerine', cursive;

    &.is-ready {
        text-shadow: 5px 5px $primary-color;
    }

    @include mq(md) {
        font-size: 6.5rem;
    }

    @include mq(sm) {
        font-size: 5rem;
    }
}

.top-title span {
    opacity: 0;
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
}

.top-button {
    margin-top: 3.5rem;

    @include mq(sm){
        margin-top: 5rem;
    }
}

.top-button-link {
    display: none;
    background: $accent-color;
    color: $font-color;
    padding: 20px 30px;
    font-size: 1.8rem;
    font-weight: bold;
    border: 1px solid #dddddd;
    box-shadow: 5px 6px 5px rgba(96, 96, 96, 0.16);
    text-shadow: 5px 5px $primary-color;
    transition: all 0.4s;
    font-family: 'Tangerine', cursive;

    &:hover {
        background: #4c2f28;
        color: $primary-color;
        text-shadow: 5px 5px $font-color;
    }

    @include mq(sm){
        padding: 15px 20px;
        font-size: 1.6rem;
    }

    @include mq(vsm){
        padding: 10px 15px;
        font-size: 1.5rem;
    }
}

// アバウト
.about-contents {
    padding: 3rem 0;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    @include mq("md") {
        display: block;
    }
}

.about-left {
    width: 100%;
    margin-right: 4rem;

    @include mq(md) {
        width: 80%;
        margin: 60px auto 30px auto;
    }
}

.about-list {
    display: flex;
    font-size: 1.4rem;
    font-weight: bold;

    @include mq(md) {
        justify-content: center;
        margin-bottom: 30px;
    }

    @include mq(sm){
        font-size: 1.1rem;
    }

    @include mq(vsm){
        font-size: 0.9rem;
    }
}

.about-item {
    display: flex;
    margin-right: 1.5rem;

    @include mq(sm){
        margin-right: 1rem;
    }

    &:first-child{
        @include mq(sm){
            margin-left: 1rem;
        }
    }
}

.about-link {
    a {
        color: $font-color;
    }

    &:hover{
        color: $accent-color;
    }
}

.about-message {
    font-family: $font-hi;


    p {
        font-size: 1.2rem;
        margin-top: 30px;

        @include mq(md) {
            margin-top: 50px;
        }

        @include mq(sm) {
            margin: 30px auto 0 auto;
            width: 80%;
            font-size: 0.9rem;
        }
    }
}

// 作成したサイト
.sites {
    padding: 4rem 0 7rem;
    background-color: $primary-color;
}

.sites-contents {
    display: flex;
    flex-wrap: wrap;

    @include mq(md) {
        display: block;
    }
}

.sites-item {
    width: calc(33.3% - 24px * 2 / 3);
    border: 1px solid $accent-color;
    box-shadow: 0 3px 3px rgba($accent-color, 0.16);
    background: #fff;
    overflow: hidden;

    @include mq(md) {
        width: 100%;
        margin-top: 50px;
    }

    &:hover {
        transition-duration: 0.5s;
        .sites-item-img {
            transform: scale(1.1, 1.1);
            transition-duration: 0.5s;
            box-shadow: none;
        }
    }
}

.sites-item:not(:nth-child(3n + 1)) {
    margin-left: 24px;

    @include mq(md) {
        margin-left: 0;
    }
}

.sites-item-body {
    font-family: $font-hi;
    padding: 1.5rem;

    .sites-item-title {
        font-size: 1.3rem;
        font-weight: 600;
    }

    .sites-item-txt {
        margin-top: 2rem;
        font-size: 1.2rem;
        bottom: 1.2rem;

        @include mq(vsm){
            font-size: 0.9rem;
        }
    }
}

.sites-item-img {
    width: 100%;
    transition-duration: 0.5s;
    overflow: hidden;
}

.sites-item-link {
    color: $font-color;
}

.sites-footer {
    text-align: center;
    margin-top: 5rem;
}

.sites-footer-link {
    background: $accent-color;
    color: $font-color;
    padding: 1.5rem 4rem;
    font-size: 1.4rem;
    font-weight: bold;
    border: 1px solid #dddddd;
}

// スキル
.skills-contents {
    padding: 3rem 0 5rem;
    display: flex;
    flex-wrap: wrap;
}

.skills-item {
    width: calc(33.3% - 50px * 2 / 3);
    border: 3px solid $accent-color;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 3px 3px rgba(#000, 0.16);

    @include mq(md){
        width: calc(50% - 50px * 1 / 2);
    }

    @include mq(sm){
        width: 100%;
        margin-bottom: 40px;
    }
}

.skills-item:not(:nth-child(3n + 1)) {
    margin-left: 50px;

    @include mq(md){
        margin-left: 0;
    }
}

.skills-item:not(:nth-child(2n + 1)) {
    @include mq(md){
        margin-left: 50px;
    }

    @include mq(sm){
        margin-left: 0;
    }
}

.skills-item:not(:nth-child(-n + 3)) {
    margin-top: 6rem;

    @include mq(md){
        margin-top: 0;
    }
}

.skills-item:not(:nth-child(-n + 2)) {
    @include mq(md){
        margin-top: 50px;
    }

    @include mq(sm){
        margin-top: 0;
    }
}

.skills-item-text {
    text-align: left;
    margin-top: 1.5rem;
    font-family: $font-hi;
}

.skills-item-title {
    margin: 2rem 0;
    font-size: 1.5rem;

    @include mq(sm){
        margin: 0 0 1.5rem;
    }
}

.skills-img {
    margin: 0 auto;
    width: 50%;

    @include mq(sm){
        width: 40%;
    }
}

// コンタクト
.contact {
    background: url("../img/computer-2242266_1280.jpg") center center / cover;
    padding: 3rem;
}

.contact-inner {
    padding: 0 6rem;

    @include mq(sm){
        padding: 0;
    }
}

.contact-form {
    width: 45%;
    margin: 0 auto;

    @include mq(md){
        width: 90%;
    }

    @include mq(sm){
        width: 100%;
    }
}

.contact-title {
    color: $primary-color;

    &::before{
        @include mq(md){
            left: 26%;
        }

        @include mq(vsm){
            left: 14%;
        }
    }

    &::after{
        @include mq(md){
            right: 15%;
        }

        @include mq(sm){
            right: 0;
        }

        @include mq(vsm){
            right: -20%;
        }
    }
}

.contact-item {
    text-align: center;
    margin-top: 2rem;
}

.contact-item-title {
    font-weight: bold;
    text-align: left;
    font-size: 1.3rem;
    margin-bottom: 10px;
    display: block;
    color: $font-color;
    text-shadow: 1px 1px $primary-color;
}

input[type="text"],
input[type="email"],
textarea {
    background: rgba(255, 255, 255, 0.5);
    border: 1px $primary-color solid;
    padding: 10px;
    font-size: 1rem;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 480px;
}

textarea {
    width: 100%;
    max-width: 480px;
    height: 8rem;
}

.contact-submit {
    margin-top: 2.5rem;
    padding: 0.5rem 2rem;
    color: $font-color;
    font-size: 1.2rem;

    &.active {
        transition: all 0.4s;
        background: $accent-color;
        color: $font-color;
        border: 1px solid #dddddd;

        &:hover {
            background: #4c2f28;
            color: $primary-color;
            text-shadow: 5px 5px $font-color;
        }
    }
}

.contact-message{
    text-align: center;
    margin-top: 60px;
    display: none;
    color: $primary-color;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow:1px 1px $font-color;

    &.err{
        color: #f00;
    }
}

// フッター
footer {
    background-color: $primary-color;

    p {
        margin: 0;
        padding: 3rem;
        text-align: center;

        @include mq(sm){
            padding: 1rem;
        }
    }
}
